.main-app{
    box-sizing: border-box;
    background-color: white;
    display: grid;
    height: inherit;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        " header header"
        "left-sidebar main-view";
    gap: 8px;
    padding: 8px;
    position: relative;
    color: black;
    
}

.container{
    width : 100%;
    grid-area: main-view;
}


